.home {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-image: url("./images/scribble.png");
  background-size: cover;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}


.title {
  background-color: white;
  opacity: 80%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 5vh;
  height: fit-content;
  width: 400px;
  padding: 40px;
  margin: 200px;
}

.title1 {
  font-size: 82px;
  font-family: Inconsolata-Bold;
}

.title2 {
  font-size: 44px;
}


.project {
  background-color: white;
  height: max-content;
  gap: 5vh;
  width: 500px;
  opacity: 70%;
  border: 3px solid black;
  margin: 100px;
  display: flex;
  flex-direction: column;
  padding: 5vh;
  justify-content: space-between;
  font-size: 20px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.project:hover {
  opacity: 100%;
}

.project--title {
  font-size: 48px;
  font-family: Inconsolata-Bold;
}

.project--links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.project--readmore, .project--seeproject, .homelink {
  font-size: 40px;
  font-family: Inconsolata-Bold;
  text-decoration: none;
  color: black;
  width: fit-content;
  transition: 0.5s;
}


.project--readmore:hover, .project--seeproject:hover, .homelink:hover {
  background-color: rgba(106, 48, 165, .5);
  size: min-content;
}

.homelink {
  text-align: center;
}

.footnote {
  color: rgba(106, 48, 165, 0.8);
  display:inline;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.footnote--text {

  background-color: white;
  opacity: 0;
  color: black;
  text-align: left;
  height: max-content;

  border-radius: 3px;
  padding: 10px 10px;
  border: 3px solid rgba(106, 48, 165, 1);
  /* Position the tooltip text - see examples below! */
  z-index: 1;
  transition: opacity 1s;
  max-width: max-content;
}


.intro, .rupaul, .portfolio, .colombia, .ations, .conclusion {
  font-size: 20px;
  margin: 2em;
}

.link, .pagelink {
  color:black;
  text-decoration: underline rgba(106, 48, 165, .8);
}

.link:hover, .pagelink:hover {
  background-color: rgba(106, 48, 165, .5);
  text-decoration: none;
}




.colombia--body {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
}

.column--img {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: space-between;
  padding: 5% 0 10% 0;
  background-color: white;
  
  
}

img {
  max-width: 20vw;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap:10px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  transition: transform .2s;
  border: 3px solid rgba(106, 48, 165, 1);
  padding: 10px;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  background-color: white;
  min-width: 22vw;
}

.figure--group{
  background-color: white;
}

figure:hover {
  transform:scale(2.5) translate(-10vw);
  z-index: 1;
}


/* 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
